.phoneInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.countryCodeContainer {
  width: 30%;
}

.phoneNumberContainer {
  width: 70%;
  margin-left: 16px;
}
